<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-app="MyTodoMvc">
		<div ng-view></div>
		<script id="main_tmpl" type="text/ng-template">
			<section class="todoapp">
					<header class="header">
					<h1>todos</h1>
					<form ng-submit="add()">
					<input class="new-todo" placeholder="What needs to be done?" ng-model="text" autofocus>
			</form>

			</header>

			<section class="main">
					<input class="toggle-all" type="checkbox" ng-click="toggleAll()">

			<ul class="todo-list">

					<li ng-repeat="todo in todos |filter:selector:equalCompare" ng-class="{completed:todo.completed,editing:todo.id===currentEditingId}">
					<div class="view">
					<input class="toggle" type="checkbox" ng-model="todo.completed">
					<label ng-click="editing(todo.id)">{{todo.text}}</label>
			<button class="destroy" ng-click="remove(todo.id)"></button>
					</div>
					<form ng-submit="save()">
					<input class="edit" ng-model="todo.text">
					</form>
					</li>
					</ul>
					</section>

					<footer class="footer">

					<span class="todo-count"><strong>{{todos.length}}</strong> item left</span>

			<ul class="filters">
					<li>
					<a ng-class="{selected:selector.completed==undefined}" href="#/">All</a>
					</li>
					<li>
					<a ng-class="{selected:selector.completed==false}" href="#/active">Active</a>
					</li>
					<li>
					<a ng-class="{selected:selector.completed==true}" href="#/completed">Completed</a>
					</li>
					</ul>

					<button class="clear-completed" ng-click="clear()" ng-show="existCompleted()">Clear completed</button>
			</footer>
			</section>
		</script>
		<footer class="info">
			<p>Double-click to edit a todo</p>

			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>

			<p>Created by <a href="https://github.com/guoshiqiufeng/todomvc-app">guoshiqiufeng</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="js/appv2.js"></script>
	</body>
</html>
